.modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    .modal-content {
        width: 600px;
        min-height: 700px;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-300px, -350px);
    }
}
